<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>137310833016-v1hd811mqtcu1amfia40o1bd1t2dn82t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.137310833016-v1hd811mqtcu1amfia40o1bd1t2dn82t</string>
	<key>API_KEY</key>
	<string>AIzaSyBGbLn6tBSOWseZ6QigWZN3YHh3JFov3kU</string>
	<key>GCM_SENDER_ID</key>
	<string>137310833016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.trilingo</string>
	<key>PROJECT_ID</key>
	<string>trilingo-91471</string>
	<key>STORAGE_BUCKET</key>
	<string>trilingo-91471.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:137310833016:ios:02861a70fb1844dec0a08d</string>
</dict>
</plist>